table {
    display: block;
    overflow: scroll;
    /* border-radius: var(--contenedor-borde-curva);
    background: var(--contenedor-fondo);
    box-shadow: var(--contenedor-sombra); */
    margin: 10px 0;
    border-collapse: separate;
    width: 100%;
    height: auto;
    border-spacing: 0 16px;
    padding: 0 10px;
    & th, & td {
        text-align: left;
        padding: 15px 20px;
        font-weight: 200;
        border: 1px solid #f2f2f2a9;
    }
    & > * > tr {
        background: var(--contenedor-fondo);
        border-radius: var(--contenedor-borde-curva);
        box-shadow: var(--contenedor-sombra);
        overflow: hidden;
    }
    & > thead {
        & > tr {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1;
            & > th {
                font-size: 12px;
                cursor: pointer;
            }
        }
    }
    & > tbody {
        & > tr {
            & > td {
                font-size: 12px;
                text-align: right;
            }
        }
        & > tr:nth-of-type(2n - 1) {
            background: transparent;
        }
    } 
}
@media (min-width: 1024px) {
    table {
        width: max-content;
    }
}