main > section {
    position: relative;
    overflow: hidden;
    padding:20px;
    width:auto;
    height:auto;
    max-height: 2000px;
    border-radius: var(--contenedor-borde-curva);
    background: var(--contenedor-fondo);
    box-shadow: var(--contenedor-sombra);
    transition: all 0.3s ease;

    & > button {
        position: absolute;
        top:10px;
        right:10px;
        display: block;
        width:12px;
        height:12px;
        border-radius: 50%;
        box-shadow: var(--boton-sombra);
        background:var(--boton-minimizar);
        border: none;

        /* & > span {
            display: block;
            width:8px;
            height:2px;
            background: rgba(255,255,255,0.5);
        } */
    }
    & > img {
        height: 25px;
        width: auto;
        vertical-align: middle;
        border-radius: 50%;
    }
    & > h2 {
        display: inline-block;
    }
    & > p {
        font-size: 11px;
        display: block;
        color: var(--sub-texto);
        margin:0;
    }
    & > div {
        padding: 20px 0 0 0;
    }
}
main > section.minimizado {
    max-height:87.91px;
}
@media (min-width: 1024px) {
    main > section {
        & > button {
            opacity:0.7;
            transition: all 0.3s ease;
        }
        & > button:hover {
            opacity: 1;
        }
    }
}