* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    scrollbar-width: none;
    margin: 0;
}
body {
    overflow-x: hidden;
    /* min-height: 100dvh; */
    margin: 0;
}
.centrar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
