/* footer {
    position: relative;
    width: 100%;
    height: auto;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    border-top: 2px solid #3E9391;
    display: grid;
    gap: 5vw;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: max-content;
    justify-content: center;
    padding: 40px 40px 100px 40px;

    & > div {
        display: grid;
        grid-template-rows: max-content;
        gap: 5px;
        color: #fff;

        & > h3 {
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2.5px;
        }
        & > hr {
            height: 2px;
            border: none;
            border-top: 2px solid #3E9391;
            box-shadow: 1px 1px 10px #3E9391, 0 0 0 rgb(0 0 0 / 8%) inset;
        }
        & > a {
            font-size: 12px;
            font-weight: 300;
            transition: all 0.3s ease;

            &:hover {
                text-shadow: 1px 1px 4px #fff;
            }
        }
    }
    & > div:nth-of-type(4){
        position:absolute;
        left:0;
        bottom:10px;
        width:100%;
        height:auto;
        display:grid;
        padding:5px;
        gap:5px;
        grid-template-columns:1fr auto 1fr;

        & > s, & > a {
            justify-self:center;
            color:rgba(255,255,255,0.55);
            font-weight:600;
            font-size:12px;
            text-align:center;
        }
        & > s:nth-of-type(1) {
            grid-column:2/3;
        }
        & > a {
            grid-column:2/3;
            font-size:10px;
        }
        & > div {
            justify-self:end;
            align-self:end;
            display:grid;
            grid-template-columns:1fr 1fr;
            gap: 5px;
            width: 90px;
            grid-row:1/3;
            grid-column:3/4;

            & > div {
                display:grid;
                width:35px;
                height:35px;
                justify-content:center;
                align-content:center;
                position:relative;
                z-index: 1;

                & > a {
                    position:relative;
                    height:20px;

                    & > img {
                        width:auto;
                        height:100%;
                        opacity:0.5;
                    }
                }
            }
            & > div:hover::after {
                transform:rotate(-15deg);
            }
            & > div:hover::before {
                transform:rotate(0deg);
            }
            & > div::after, & > div::before {
                content:'';
                position:absolute;
                width:35px;
                height:35px;
                border-radius:3px;
                z-index:-1;
                transition:all 0.3s ease;
            }
            & > div::after {
                top:0;
                left:0;
                background:rgba(255,255,255,0.15);
                backdrop-filter:blur(5px);
            }
            & > div::before {
                bottom:6.5px;
                right:-6.5px;
                transform:rotate(10deg);
                transform-origin:top left;
            }
            & > div:nth-of-type(1)::before {
                background: radial-gradient(
                    circle farthest-corner at 28% 100%,
                    #fcdf8f 0%,
                    #fbd377 10%,
                    #fa8e37 22%,
                    #f73344 35%,
                    transparent 65%
                ), linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);
            }
            & > div:nth-of-type(2)::before {
                background: #3b5998;
            }
        }
    }
}
@media (min-width: 1024px) {
    footer {
        height: 30vh;
        grid-template-columns: repeat(3, max-content);
        padding: 40px;
    }
} */
footer {
    position: relative;
    width: 100%;
    height: auto;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    border-top: 2px solid #3E9391;
    display: grid;
    gap: 5vw;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: max-content;
    justify-content: center;
    padding: 40px 40px 100px 40px;
}

footer > div {
    display: grid;
    grid-template-rows: max-content;
    gap: 5px;
    color: #fff;
}

footer > div > h3 {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

footer > div > hr {
    height: 2px;
    border: none;
    border-top: 2px solid #3E9391;
    box-shadow: 1px 1px 10px #3E9391, 0 0 0 rgb(0 0 0 / 8%) inset;
}

footer > div > a {
    font-size: 12px;
    font-weight: 300;
    transition: all 0.3s ease;
}

footer > div > a:hover {
    text-shadow: 1px 1px 4px #fff;
}

footer > div:nth-of-type(4) {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: auto;
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: 1fr auto 1fr;
}

footer > div:nth-of-type(4) > s, 
footer > div:nth-of-type(4) > a {
    justify-self: center;
    color: rgba(255, 255, 255, 0.55);
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}

footer > div:nth-of-type(4) > s:nth-of-type(1) {
    grid-column: 2/3;
}

footer > div:nth-of-type(4) > a {
    grid-column: 2/3;
    font-size: 10px;
}

footer > div:nth-of-type(4) > div {
    justify-self: end;
    align-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 90px;
    grid-row: 1/3;
    grid-column: 3/4;
}

footer > div:nth-of-type(4) > div > div {
    display: grid;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-content: center;
    position: relative;
    z-index: 1;
}

footer > div:nth-of-type(4) > div > div > a {
    position: relative;
    height: 20px;
}

footer > div:nth-of-type(4) > div > div > a > img {
    width: auto;
    height: 100%;
    opacity: 0.5;
}

footer > div:nth-of-type(4) > div > div:hover::after {
    transform: rotate(-15deg);
}

footer > div:nth-of-type(4) > div > div:hover::before {
    transform: rotate(0deg);
}

footer > div:nth-of-type(4) > div > div::after, 
footer > div:nth-of-type(4) > div > div::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    z-index: -1;
    transition: all 0.3s ease;
}

footer > div:nth-of-type(4) > div > div::after {
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}

footer > div:nth-of-type(4) > div > div::before {
    bottom: 6.5px;
    right: -6.5px;
    transform: rotate(10deg);
    transform-origin: top left;
}

footer > div:nth-of-type(4) > div > div:nth-of-type(1)::before {
    background: radial-gradient(
        circle farthest-corner at 28% 100%,
        #fcdf8f 0%,
        #fbd377 10%,
        #fa8e37 22%,
        #f73344 35%,
        transparent 65%
    ), linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);
}

footer > div:nth-of-type(4) > div > div:nth-of-type(2)::before {
    background: #3b5998;
}

@media (min-width: 1024px) {
    footer {
        height: 40vh;
        grid-template-columns: repeat(3, max-content);
        padding: 40px;
    }
}
