aside > section {
    display: none;
    position:fixed;
    top:55px;
    left:0;
    width:210px;
    height:calc(100dvh - 55px - 55px);
    background: var(--contenedor-fondo);
    box-shadow: var(--contenedor-sombra);
    border-radius: 0 var(--contenedor-borde-curva) var(--contenedor-borde-curva) 0;
    z-index: 2;
    padding:15px 0;
    transform-origin: left center;
    transition: width 0.3s ease;
    overflow-x: hidden;
    & > div:nth-of-type(1) {
        display: grid;
        height:auto;
        width:100%;
        align-content: center;
        grid-template-columns: 45px auto;
        cursor: pointer;
        padding: 0 7.5px 15px 7.5px;

        & > div {
            display: grid;
            gap:5px;
            width:20px;
            height:20px;
            margin: 0 auto;

            & > span {
                width:100%;
                height:1px;
                background: var(--resaltado);
                border-radius: 4px;
                transition: width 0.3s ease;
            }
            & > span:nth-of-type(2) {
                width:50%;
            }
            & > span:nth-of-type(3) {
                width:25%;
            }
        }
    }
    & > div:nth-of-type(2) {
        height: calc(100% - 80px);
        overflow-x: hidden;
        padding: 0 7.5px;
        scrollbar-width: none;
    
        & > h4 {
            text-align: center;
            font-size: 10px;
            font-weight:400;
            color: rgb(244, 210, 226);
            display: grid;
            grid-template-columns: 49px auto 49px;
            gap: 10px;
            margin: 15px auto;
            width: 195px;
        }
        & > h4:nth-of-type(1) {
            margin: 0 auto 15px auto;
        }
        & > h4::after, & > h4::before {
            content: "";
            height: 2px;
            width: 100%;
            border-radius: 4px;
            margin: auto;
            transition: background 0.3s ease;
        }
        & > h4::before {  
            background: linear-gradient(109.6deg, transparent 20%, rgb(185, 212, 242) 41.2%, rgb(244, 210, 226)70%);
        }
        & > h4::after {  
            background: linear-gradient(109.6deg,  rgb(244, 210, 226) 30%, rgb(185, 212, 242) 41.2%,  transparent 80%);
        }
        & > a {
            width:100%;
            height:45px;
            border-radius:var(--elemento-borde-curva);
            box-shadow: var(--elemento-sombra);
            background: var(--resaltado);
            margin:0 0 10px 0;
            display: grid;
            grid-template-columns: 45px auto;
            gap:10px;
            justify-items: center;
            align-items: center;
            overflow-x: hidden;
            color:var(--texto-resaltado);
            font-size:10px;
            justify-content: start;
            transition: transform 0.3s ease;
    
            & > img{
                width:25px;
                height: 25px;
            }
        }
    }
    & > a {
        position: absolute;
        bottom: 0;
        right: 0;
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 10px;
        row-gap: 0px;
        width:100%;
        background:rgba(255, 255, 255, 0.5);
        height:auto;
        box-shadow: var(--contenedor-sombra);
        padding:10px;
        align-items: center;
        & > img {
            grid-row:span 2;
        }
        & > img:nth-of-type(1) {
            border-radius: 50%;
            width:40px;
            height:40px;
        }
        & > s {
            font-size: 10px;
            color: var(--texto);
        }
        & > s:nth-of-type(2) {
            font-size: 8px;
            color: var(--sub-texto);
        }
    }
}
aside > section::-webkit-scrollbar {
    width: 0px;
}
aside.minimizado > section {
    width: 60px;
    & > div:nth-of-type(1) {
        & > div {
            & > span {
                width:100%;
            }
        }
    }
    & > div:nth-of-type(2) {
        & > h4::before {  
            background: linear-gradient(109.6deg, transparent 5.2%, rgb(185, 212, 242) 40.2%, rgb(244, 210, 226) 45.2%, transparent 85.3%)
        }
    }
}
@media (min-width: 1024px) {
    aside > section {
        display: block;
        height:calc(100dvh - 55px);
        & > div:nth-of-type(2) {
            & > a:hover {
                transform: translate(-5px, 0);
            }
        }
    }
}