/* .mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    display:grid;
    grid-template-columns:12px auto;
    align-items:center;
    gap:10px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 8%) inset;
    color: #141414;
    padding:6px;
    transition:all 0.3s ease;
    cursor: pointer;

    & > img {
        width:18px;
        height:18px;
        transition:all 0.3s ease;
    }
    & > p {
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 0px;
    }
}
.mapboxgl-popup-tip {
    border: 5px solid transparent;
    transition:all 0.3s ease;
}
.mapboxgl-popup[data-enfoque="1"] {
    z-index: 1;
}
.mapboxgl-popup[data-enfoque="1"] .mapboxgl-popup-content, .mapboxgl-popup:hover .mapboxgl-popup-content  {
    transform:translate(0, -5px);
    background:#00408b;
    color: #fff;

    & > img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);
    }
}
.mapboxgl-popup[data-enfoque="1"] .mapboxgl-popup-tip, .mapboxgl-popup:hover .mapboxgl-popup-tip {
    transform:translate(0, -5px);
    border-top-color: #00408b;
}
.mapa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    width: 100dvw;
    height: 100dvh;
    z-index: 2;

    & > div:nth-of-type(2) {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: grid;
        align-self: center;
        justify-self: center;
        grid-template-rows: max-content;
        gap: 20px;
        z-index: 5;
        overflow: scroll;
        padding: 10px;

        & > div {
            width: 100%;
            height: auto;
            background: #fff;
            box-shadow: 0 1px 5px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 8%) inset;
            border-radius: 8px;
            display: grid;
            gap: 15px;
            padding: 15px;
            justify-self: center;
            font-family: 'Likhari_B-Normal';
            & > img {
                width: calc(100%);
                height: auto;
                aspect-ratio: 16/9;
                border-radius: 8px;
                justify-self: center;
            }
            & > h3 {
                font-size: 16px;
                letter-spacing: 0;
                font-weight: 500;
                color: #000;
                text-transform: uppercase;
            }
            & > p{
                font-size: 17px;
                letter-spacing: 0;
                font-weight: 300;
                color: #5d5d5f;
            }
            & > a {
                text-transform: capitalize;
                width: fit-content;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 5px, rgba(0, 0, 0, 0.08) 0px 0px 0px inset;
                color: rgb(255, 255, 255);
                font-weight: 800;
                background: rgb(194, 219, 242);
                border-radius: 4px;
                padding: 6px;
            }
        }
    }
}
#map {
    width: 100dvw;
    height: 100dvh;
    z-index: 5;
}
@media (min-width: 768px) {
    .mapa {
        transform: translate(-52.5%, -58%);
        width: 62.5dvw;
        height: 65dvh;
        & > div:nth-of-type(2) {
            width: 30%;
        }
    }  
    #map {
        width: 62.5dvw;
        height: 65dvh;
        z-index: 5;
    }
} */
.mapboxgl-popup {
    max-width: 200px;
}
.mapboxgl-popup-content {
    display: grid;
    grid-template-columns: 12px auto;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 8%) inset;
    color: #141414;
    padding: 6px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.mapboxgl-popup-content > img {
    width: 18px;
    height: 18px;
    transition: all 0.3s ease;
}
.mapboxgl-popup-content > p {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0px;
}
.mapboxgl-popup-tip {
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
.mapboxgl-popup[data-enfoque="1"] {
    z-index: 1;
}
.mapboxgl-popup[data-enfoque="1"] .mapboxgl-popup-content, .mapboxgl-popup:hover .mapboxgl-popup-content {
    transform: translate(0, -5px);
    background: #00408b;
    color: #fff;
}
.mapboxgl-popup[data-enfoque="1"] .mapboxgl-popup-content > img, .mapboxgl-popup:hover .mapboxgl-popup-content > img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);
}
.mapboxgl-popup[data-enfoque="1"] .mapboxgl-popup-tip, .mapboxgl-popup:hover .mapboxgl-popup-tip {
    transform: translate(0, -5px);
    border-top-color: #00408b;
}
.mapa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    width: 100dvw;
    height: 100dvh;
    z-index: 2;
}
.mapa > div:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-rows: max-content;
    gap: 20px;
    z-index: 5;
    overflow: scroll;
    padding: 10px;
}
.mapa > div:nth-of-type(2) > div {
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 8%) inset;
    border-radius: 8px;
    display: grid;
    gap: 15px;
    padding: 15px;
    justify-self: center;
    font-family: 'Likhari_B-Normal';
}
.mapa > div:nth-of-type(2) > div > img {
    width: calc(100%);
    height: auto;
    aspect-ratio: 1.7777777778;
    border-radius: 8px;
    justify-self: center;
}
.mapa > div:nth-of-type(2) > div > h3 {
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
}
.mapa > div:nth-of-type(2) > div > p {
    font-size: 17px;
    letter-spacing: 0;
    font-weight: 300;
    color: #5d5d5f;
}
.mapa > div:nth-of-type(2) > div > a {
    text-transform: capitalize;
    width: fit-content;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 8%) inset;
    color: #fff;
    font-weight: 800;
    background: #c2dbf2;
    border-radius: 4px;
    padding: 6px;
}
#map {
    width: 100dvw;
    height: 100dvh;
    z-index: 5;
}
@media (min-width: 768px) {
    .mapa {
        transform: translate(-52.5%, -58%);
        width: 62.5dvw;
        height: 65dvh;
   }
    .mapa > div:nth-of-type(2) {
        width: 30%;
   }
    #map {
        width: 62.5dvw;
        height: 65dvh;
        z-index: 5;
   }
}

